@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Cantarell',  sans-serif;
  background-color: rgb(235, 221, 204);

  /* background-image: linear-gradient(
    rgb(51, 18, 12, 0.1),
    rgb(51, 18, 12, 0.1)
    ),
    url(pngtree-coffee-sticker-wallpaper-painting-sticker-wallpaper-backgroundcoffeewallpaper-image_55213.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%; */
}

code {
  font-family: 'Cantarell',  sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}


.container {

  padding: 20px 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}